@import "tailwindcss";

@theme {
    --color-doré-clair: oklch(0.9672 0.0598 100.23);
    --color-gris-claire: oklch(0.7952 0 0);
    --color-ivoir: oklch(0.9687 0.0187 96.86);
    --color-noir: oklch(0 0 0);
    --color-or-profond: oklch(0.7876 0.0981 84.64);

    --font-family: 'Arimo Variable', sans-serif;
}

@layer base {
    body {
        @apply font-[--font-family] text-base leading-normal;
    }

    h1 {
        @apply text-5xl leading-tight font-[--font-family] lg:text-6xl;
    }

    h2 {
        @apply text-2xl leading-tight font-[--font-family] lg:text-4xl;
    }

    h3 {
        @apply my-4 text-xl leading-tight font-[--font-family];
    }
}

@layer components {
    .grille {
        @apply px-6 lg:grid lg:grid-cols-(--my-grid) lg:justify-center lg:gap-8;
    }
}